#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
}
#header ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#header ul li a{
    text-decoration: none;
    color: #222222;
}
#header ul li select{
    border: none;
}